.todolist {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0.1rem;
    border: 1px solid;
    border-radius: 0.5rem;
}

.container {
    width: clamp(300px, 45%, 800px);
    margin: auto;
}

.inputContainer {
    width: 100%;
}

.createTodoInput {
    width: 98%;
    margin: 0;
}